.album-content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.info-album {
  margin-left: 5%;
  margin-top: 30px;
  text-align: center;
  width: 30%;
}

.img-album-song {
  max-width: 350px;
  min-width: 250px;
  width: 80%;
}

.music-card {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-top: 30px;
  min-width: 600px;
  width: 40%;
}
