.favorite-page {
  display: flex;
}

.favorite-content {
  align-items: center;
  display: flex;
  flex: 0.98;
  flex-direction: column;
  justify-content: center;
}

.title-favorites {
  border-bottom: rgb(87, 87, 87) solid 1px;
  padding-bottom: 50px;
  text-align: center;
}

.music-card-content-favorites {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.music-card-item-favorites {
  align-items: center;
  border-bottom: rgb(87, 87, 87) solid 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.audio-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.box-audio-controller-favorites {
  margin-bottom: 10px;
  width: 100%;
}

.track-name-favorites {
  margin-bottom: 15px;
  margin-top: 10px;
}

.track-name-favorites:hover {
  color: rgb(133, 133, 133);
}

.test {
  background-color: blue;
  border: solid red 5px;
}
