img {
  border: rgb(197, 197, 197) solid 1px;
  border-radius: 50px;
  margin-bottom: 20px;
  width: 200px;
}

.profile-edit-page {
  display: flex;
}

.profile-edit-content {
  align-items: center;
  display: flex;
  flex: 0.99;
  flex-direction: column;
  justify-content: center;
}

.profile-edit-content h1 {
  margin-bottom: 90px;
}


.form-profile-edit {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.flex-data-edit-profile {
  border-bottom: solid rgb(61, 61, 61) 1px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  font-size: x-large;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
}

.flex-data-edit-profile input {
  background: rgba(24, 24, 24, 0);
  border-bottom: rgba(110, 110, 110, 0.966) solid 1px;
  color: white;
  font-size: x-large;
  min-width: 350px;
  width: 70%;
}

.div-input-profile {

  /* display: flex;
  flex-direction: column; */
  align-items: center;
  width: 100%;
}

.buttonEditProfile {
  background-color: rgb(77, 77, 77);
  border: 1px white solid;
  border-radius: 10px;
  color: white;
  font-size: large;
  font-weight: 900;
  height: 40px;
  margin-top: 40px;
  padding: 5px;
  width: 150px;
}
