.header {
  background-color: rgb(8, 8, 8);
  color: rgb(216, 216, 216);
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  left: 0;
  max-width: 400px;
  min-width: 250px;
  position: sticky;
  top: 0;
  width: 30%;
  z-index: 1;
}

.header-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  display: flex;
  font-size: large;
  text-align: center;
}

.icon-title {
  font-size: xx-large;
}

.title h1 {
  margin: 0;
}

.user {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-name {
  background-color: rgb(black);
  border: 1px solid rgb(116, 116, 116);
  border-radius: 20px;
  justify-content: center;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  width: 180px;
}

.logout {
  color: rgb(87, 87, 87);
  font-size: medium;
}

.logout:hover {
  color: rgb(122, 63, 63);
}

.navegation {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-evenly;
  width: 100%;
}

.link {
  border-bottom: rgb(116, 116, 116) solid 1px;
  color: rgb(199, 199, 199);
  font-size: x-large;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.link-tittle {
  color: rgb(199, 199, 199);
  text-decoration: none;
}

.link:hover {
  background-color: rgb(32, 32, 32);
}
